//
// Webfont definitions
// @author Kevin Wellmann
//

// @link https://www.behance.net/gallery/42182937/North-Free-Font
@font-face {
  font-family: 'North';
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: url('/assets/fonts/north-regular-webfont.woff2') format('woff2');
}