//
// Footer styles
// @author Kevin Wellmann
//

.site-footer {
  @include display-font(10px);
  padding-top: ($section-spacing / 2);
  padding-bottom: ($section-spacing / 2);
  background: $background-secondary;
  color: $color;
}

.site-footer__item {
  margin-top: 15px;
  overflow-x: hidden;

  &::before {
    content: '. . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . .';
    float: left;
    width: 0;
    color: $background-light-contrast;
    white-space: nowrap;
  }

  &:first-child {
    margin-top: 0;
  }

  > span {
    background: $background-secondary;

    &:first-child {
      padding-right: 1em;
    }

    &:last-child {
      float: right;
      padding-left: 1em;
    }
  }
}