//
// General styles
// @author Kevin Wellmann
//

::selection {
  background: $color-highlight;
  color: $background;
}

::-moz-selection {
  background: $color-highlight;
  color: $background;
}

* {
  transition: transform 1s ease-in-out, font-size 1s ease-in-out;

  &,
  &::before,
  &::after {
    box-sizing: border-box;
  }
}

body {
  margin: 0;
  background-color: $background;
  line-height: 1.7;
  font-family: SFMono-Regular, Consolas, Liberation Mono, Menlo, monospace;
  font-size: 14px;
  color: $color;
}

h1,
h2 {
  margin-top: 0;
  margin-bottom: 0;
}

h2 {
  @include display-font(20px);
  margin-bottom: 25px;
  color: $background-light-contrast;

  @media(min-width: $mobile-breakpoint) {
    @include display-font(23px);
  }
}

p {
  margin-top: 15px;
  margin-bottom: 15px;

  &:first-child {
    margin-top: 0;
  }

  &:last-child {
    margin-bottom: 0;
  }
}

a,
button {
  color: $color;
  text-decoration: none !important;
  -webkit-tap-highlight-color: fade-out($color-highlight, .4);

  &:hover,
  &:focus {
    outline: 0;
    box-shadow: none;
    transition: all .3s ease;
  }
}

.site-main {
  padding-top: $section-spacing;
  padding-bottom: $section-spacing;
}

.wrapper {
  width: 80%;
  max-width: 1140px;
  margin: auto;
  padding-left: 20px;
  padding-right: 20px;
}