//
// Logo styles
// @author Kevin Wellmann
//

.logo {
  transform: scale(.85);
  font-size: 0;
  text-align: center;
  white-space: nowrap;
  cursor: default;
  user-select: none;
  -webkit-touch-callout: none;

  @media(min-width: $mobile-breakpoint) {
    transform: scale(1);
  }

  a {
    display: inline-block;
  }
}

.logo__title {
  @include display-font(22.5px);
  @include neon-sign(#eee, #eee);

  a:focus & {
    @include neon-sign($color-highlight, $color-highlight);
  }
}

.logo__subtitle {
  @include neon-sign(#eee, #eee);
  font: 39px/1.2 'Pacifico', cursive;
  letter-spacing: .06em;
  text-indent: -.25em;

  a:focus & {
    @include neon-sign($color-highlight, $color-highlight);
  }
}