//
// Custom variables
// @author Kevin Wellmann
//

$background-secondary: #1d1d1d;

$background: #111;
$background-light-contrast: #555;
$color: #c3c3c3;
$color-highlight: #f6d980;

$mobile-breakpoint: 880px;
$section-spacing: 80px;