//
// Custom variables
// @author Kevin Wellmann
//

// The brand colors
$brand-highlight: #f6d980;
$body-background-primary: #111;
$body-background-secondary: #1d1d1d;
$body-color-primary: #ddd;
$body-color-secondary: #555;

// Other custom values
$section-spacing: 80px;

// Bootstrap overrides
$body-bg: $body-background-primary;
$font-family-base: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Open Sans, Helvetica Neue, sans-serif;
$font-size-base: 16px;
$font-size-h2: 1.6em;
$font-size-h3: 1.2em;
$text-color: $body-color-primary;
$line-height-base: 1.7;
$link-color: $body-color-primary;
$link-hover-color: lighten($brand-highlight, 10%);
$link-hover-decoration: none;