//
// Footer styles
// @author Kevin Wellmann
//

.site-footer {
  padding-top: ($section-spacing / 2);
  padding-bottom: ($section-spacing / 2);
  background: $body-background-secondary;
  color: $body-color-primary;
}

.imprint {
  @include display-font(10px);
  margin: 0;
  padding: 0;
  list-style: none;
  overflow-x: hidden;
}

.imprint__item {
  margin-top: 15px;

  &:first-child {
    margin-top: 0;
  }

  &::before {
    content: '. . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . .';
    float: left;
    width: 0;
    color: $body-color-secondary;
    white-space: nowrap;
  }

  > span {
    background: $body-background-secondary;
  }

  > span:first-child {
    padding-right: 1em;
  }

  > span + span {
    float: right;
    padding-left: 1em;
  }
}