---
layout: default
---

<div class="about">
  <h2>{{ page.title }}</h2>
  <div class="bio" role="main">
    {{ content }}
  </div>
  <div class="resume" role="complementary">
    <ol class="resume__list">
      {% for item in site.data.resume.experience | limit: 3 %}
        <li class="resume__item">
          <span class="resume__period">
            {% if forloop.first %}
              today
            {% else %}
              {{ item.date }}
            {% endif %}
          </span>
          <div class="resume__details">
            <span>{{ item.title }}</span>
            <p>{{ item.content }}</p>
          </div>
        </li>
      {% endfor %}
    </ol>
  </div>
</div>
<div class="button-group">
  {% for button in site.buttons %}
    {% if forloop.first %}
      <a href="{{ button.link }}" class="button">{{ button.title }}</a>
    {% else %}
      <a href="{{ button.link }}" class="button button--{{ button.title | slugify }}" target="_blank" rel="noopener">{{ button.title }}</a>
    {% endif %}
  {% endfor %}
</div>